<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doggyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DoggyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoggyApp">
        <activity
            android:name="com.example.doggyapp.activities.favoritesDisplay.FavoritesDisplay"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.example.doggyapp.activities.gallery.GalleryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.example.doggyapp.activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DoggyApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>